- name: set postgresql_version = 9.6
  set_fact:
    postgresql_version: 9.6
    postgis_version: 2.3
    postgis_suffix: -2.3
    openjdk_version: 8
  when: ansible_distribution_release == "stretch"

- name: set postgresql_version = 11
  set_fact:
    postgresql_version: 11
    postgis_version: 2.5
    postgis_suffix: -2.5
    openjdk_version: 11
  when: ansible_distribution_release == "buster"

- name: install packages
  apt:
    pkg:
      - postgresql-{{ postgresql_version }}
      - postgresql-{{ postgresql_version }}-postgis{{ postgis_suffix }}
      - postgresql-contrib-{{ postgresql_version }}
      - postgis
      - openjdk-{{ openjdk_version }}-jre-headless # for osmosis
      - python-psycopg2

      - osm2pgsql
      - osmctools
      - osmosis

- name: ensure postgresql server is running
  service: name=postgresql state=started

- include: ../../../shared/project-account.yml user=osm2pgsql

- name: add sudoers to access osm2pgsql user
  copy: src=sudoers dest=/etc/sudoers.d/osm2pgsql-backend mode=0440 owner=root group=root validate='visudo -cf %s'

- name: init database
  postgresql_db: name=osm encoding='UTF-8' lc_collate='fr_FR.UTF-8' lc_ctype='fr_FR.UTF-8' template='template0'
  register: createdb_osm
  become: yes
  become_user: postgres

- name: init database user
  postgresql_user: name=osm2pgsql password=WejOInL3FT db=osm priv=ALL
  become: yes
  become_user: postgres

- name: psql extension hstore
  command: psql -d osm -c "CREATE EXTENSION IF NOT EXISTS {{ item }}"
  register: psql_res
  changed_when: "not 'extension \"{{ item }}\" already exists' in '{{ psql_res.stderr }}'"
  become: yes
  become_user: postgres
  with_items:
    - fuzzystrmatch
    - hstore
    - postgis

- name: psql access to tables
  postgresql_privs: database=osm type=table objs={{ item }} roles=osm2pgsql privs=SELECT,INSERT,UPDATE,DELETE
  become: yes
  become_user: postgres
  with_items:
    - geometry_columns
    - spatial_ref_sys


- name: psql check schema osm2pgsql
  command: psql -t -d osm -c "SELECT EXISTS(SELECT 1 FROM pg_namespace WHERE nspname = 'osm2pgsql');"
  register: check_schema
  changed_when: "'f' in '{{ check_schema.stdout }}'"
  become: yes
  become_user: postgres

- name: psql schema osm2pgsql
  command: psql -d osm -c "CREATE SCHEMA osm2pgsql; ALTER USER osm2pgsql SET search_path TO osm2pgsql, public;"
  when: check_schema.changed
  become: yes
  become_user: osm2pgsql

- name: psql grant access to schema osm2pgsql to all
  postgresql_privs: database=osm type=schema objs=osm2pgsql roles=PUBLIC privs=USAGE
  become: yes
  become_user: postgres

- name: psql grant acces to tables of schema osm2pgsql
  postgresql_privs: database=osm schema=osm2pgsql type=table objs=ALL_IN_SCHEMA roles=PUBLIC privs=SELECT
  become: yes
  become_user: postgres

- name: checkout git repository
  git: repo=https://github.com/osm-fr/osm2pgsql-import-tools.git dest=/data/project/osm2pgsql/import-base-osm force=no update=no
  become: yes
  become_user: osm2pgsql

- name: add munin plugin
  file: src="/data/project/osm2pgsql/import-base-osm/maintenance/munin/osm_replication_lag-osm2pgsql" dest="/etc/munin/plugins/osm_replication_lag-osm2pgsql" state=link

- name: add munin plugin conf
  file: src="/data/project/osm2pgsql/import-base-osm/maintenance/munin/osm_replication_lag-osm2pgsql.conf" dest="/etc/munin/plugin-conf.d/osm_replication_lag-osm2pgsql" state=link

# To finish installation, run:
# - (cd /data/work/osm2pgsql/ && wget http://download.openstreetmap.fr/extracts/europe/france.osm.pbf)
# - (cd import-base-osm && ./import.sh /data/work/osm2pgsql/france.osm.pbf)
