# Procédure sur https://github.com/osm-fr/export-cadastre/tree/lxc-buster-migration

- name: install packages
  apt:
    pkg:
      - apache2
      - libapache2-mod-php
      - php
      - poppler-utils
      - python3
      - python3-distutils
      - python3-gdal
      - python3-rtree
      - python3-shapely
      - python3-sklearn
      - wget
      # Pour construire les exécutables
      - g++
      - make
      - python3-dev
      - qt4-qmake
      - libpodofo-dev
      - libqt4-dev
      - libproj-dev
      - libgeos++-dev
      - zlib1g-dev
      - libjpeg-dev

- include: ../../../shared/project-account.yml user=cadastre

- name: add cadastre user to www-data group
  user: name="cadastre" groups="www-data" append=yes

- name: checkout git repository
  git: repo=https://github.com/osm-fr/export-cadastre.git dest=/data/project/cadastre/export-cadastre force=no update=no
  become: yes
  become_user: cadastre

- name: create export-cadastre work directory
  file: path="/data/work/cadastre/export-cadastre/" state=directory
  become: yes
  become_user: cadastre

- name: link export-cadastre work directory
  file: src="/data/work/cadastre/export-cadastre/" dest="/data/project/cadastre/export-cadastre/work" state=link
  become: yes
  become_user: cadastre

- name: build export-cadastre project
  command:
      cmd: make
      chdir: "/data/project/cadastre/export-cadastre/"
  run_once: true
  become: yes
  become_user: cadastre

- name: configure export-cadastre cron
  cron:
      name:
          name: maj-dep-massif
          minute: "0"
          hours: "4"
          weekday: "1"
          job: "cd /data/project/cadastre/export-cadastre/bin/ && ./maj-dep-massif.sh"
  become: yes
  become_user: cadastre

- name: enabled apache2 module rewrite
  apache2_module: name=rewrite state=present

- name: enabled apache2 module headers
  apache2_module: name=headers state=present

- name: enabled apache2 module authz_groupfile
  apache2_module: name=authz_groupfile state=present

# - name: copy apache config
#  copy: src=apache.site dest="/etc/apache2/sites-available/cadastre.conf"
#  notify: restart apache
#
#- name: enable apache site
#  file: src="/etc/apache2/sites-available/cadastre.conf" dest="/etc/apache2/sites-enabled/cadastre.conf" state=link
#  notify: restart apache

