---
extends: default

rules:
  line-length:
    max: 1000
    level: warning

  braces:
    max-spaces-inside: 1
  colons:
    max-spaces-after: 10
  commas:
    max-spaces-after: 40
  comments:
    ignore: |
      roles/ocitysmap/vars/main.yml
      roles/ocitysmap/tasks/main.yml
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  truthy:
    allowed-values: ["true", "false", "True", "False", "yes", "no"]
