w /sys/kernel/mm/transparent_hugepage/enabled - - - - never
w /sys/kernel/mm/transparent_hugepage/defrag - - - - never
w /proc/sys/kernel/sched_autogroup_enabled - - - - 0
w /sys/kernel/debug/sched/migration_cost_ns - - - - 5000000
