- name: install packages
  apt:
    pkg:
      - bzr  # for josm translations
      - gdal-bin
      - postgresql
      - postgresql-contrib
      - postgresql-postgis
      - postgis
      - default-jre-headless
      # to run with python3
      - python3-dateutil
      - python3-distro
      - python3-packaging
      - python3-pip
      - python3-polib
      - python3-psycopg2
      - python3-pyosmium
      - python3-pyproj
      - python3-shapely
      - python3-regex
      - python3-requests
      - python3-unidecode
      - pyosmium
      # dependencies for pip3 install
      - libarchive-dev
      - libproj-dev
      - libpq-dev
      # to compile osm_pbf_parser
      - g++
      - libboost-python-dev
      - libosmpbf-dev
      - make
      - pkg-config
      # to compile PyKOpeningHours
      - cmake
      - extra-cmake-modules
      - qtbase5-dev
      - flex
      - bison
      - zstd

- name: init /root/packages/
  file:
    path: /root/packages/
    state: directory

- name: install additional local packages
  copy:
    src: "{{ item }}"
    dest: "/root/packages/{{ item }}"
  with_items:
    - python3-lark-parser_0.6.7-1_all.deb
    - python3-backports.csv_1.0.7-1_all.deb
    - python3-transporthours_0.0.4-1_all.deb

- name: install additional local packages
  apt:
    deb: /root/packages/{{ item }}
  with_items:
    - python3-lark-parser_0.6.7-1_all.deb
    - python3-backports.csv_1.0.7-1_all.deb
    - python3-transporthours_0.0.4-1_all.deb

- name: ensure postgresql server is running
  service: name=postgresql state=started

- include: ../../../shared/project-account.yml user=osmose

- name: init /data/work/osmose/ sub path
  file: path=/data/work/osmose/{{ item }} state=directory owner=osmose group=osmose
  with_items:
    - cache
    - diffs
    - extracts
    - logs
    - results
    - tmp

- name: add sudoers to access osmose user
  copy: src=sudoers dest=/etc/sudoers.d/osmose-backend mode=0440 owner=root group=root validate='visudo -cf %s'

- name: init ssh key to osmose user
  authorized_key: user=osmose key="{{ item }}"
  with_file:
    - "{{ lookup('env','PWD') }}/public_keys/fred"
    - "{{ lookup('env','PWD') }}/public_keys/jocelyn"
    - "{{ lookup('env','PWD') }}/public_keys/marc_marc"

- name: init database
  postgresql_db: name=osmose encoding='UTF-8' lc_collate='en_US.UTF-8' lc_ctype='en_US.UTF-8' template='template0'
  register: createdb_osmose
  become: yes
  become_user: postgres

- name: init database user
  postgresql_user: name=osmose password=-osmose- db=osmose priv=ALL
  become: yes
  become_user: postgres

- name: Get Postgres informations
  become: true
  become_user: postgres
  community.postgresql.postgresql_info:
    db: osmose
  register: postgres_info

- name: set postgresql_version to {{ psql_res.stdout_lines[0] }}
  set_fact:
    postgresql_version: "{{ psql_res.stdout_lines[0] }}"

- name: psql extensions
  become: yes
  become_user: postgres
  community.postgresql.postgresql_ext:
    db: osmose
    name: "{{ item }}"
  loop:
    - fuzzystrmatch
    - hstore
    - unaccent
    - postgis

- name: psql access to tables
  postgresql_privs: database=osmose type=table objs={{ item }} roles=osmose privs=SELECT,INSERT,UPDATE,DELETE
  become: yes
  become_user: postgres
  with_items:
    - geometry_columns
    - spatial_ref_sys

- name: create postgresql conf.d
  file:
    path: /etc/postgresql/{{ postgres_info.version.major }}/main/conf.d
    state: directory

- name: configure postgresql
  template:
    dest="/etc/postgresql/{{ postgres_info.version.major }}/main/conf.d/10-ansible-osmose.conf"
    src="postgresql-config"
    owner=root
  notify:
    - reload postgresql

- name: enable postgresql configuration
  lineinfile:
    dest: "/etc/postgresql/{{ postgres_info.version.major }}/main/postgresql.conf"
    regexp: "^.*include_dir = 'conf.d"
    line: "include_dir = 'conf.d'                  # include files ending in '.conf' from"
  when: not 'osmbin' in group_names and not 'osmosis' in group_names and not 'osm2pgsql' in group_names
  notify:
    - reload postgresql

- name: Logrotate config for postgresql
  copy:
    dest: "/etc/logrotate.d/postgresql-common"
    src: "logrotate-postgres"
    owner: root

- name: create systemd override for postgresql
  file:
    path: /etc/systemd/system/postgresql@.service.d/
    state: directory

- name: add systemd override for postgresql
  template:
    dest: "/etc/systemd/system/postgresql@.service.d/override.conf"
    src: "systemd-postgresql-override.conf"
    owner: root
  notify:
    - systemd daemon-reload

- name: checkout git repository
  git: repo=https://github.com/osm-fr/osmose-backend.git dest=/data/project/osmose/backend/ force=no update=no
  become: yes
  become_user: osmose

- name: git config receive.denyCurrentBranch refuse
  command: chdir=/data/project/osmose/backend/ git config receive.denyCurrentBranch ignore
  become: yes
  become_user: osmose

- name: create branch osmose-fr
  command: chdir=/data/project/osmose/backend/ git branch osmose-fr
  become: yes
  become_user: osmose
  ignore_errors: True

- name: pip install
  pip:
    executable: pip3
    requirements: /data/project/osmose/backend/requirements.txt
  become: yes
  become_user: osmose

- name: compile osm_pbf_parser for python3
  make:
    chdir: /data/project/osmose/backend/modules/osm_pbf_parser/
    target: py3
  become: yes
  become_user: osmose

- name: init /data/project/osmose/backend/po/josm/ path
  file:
    path: /data/project/osmose/backend/po/josm/
    state: directory
    owner: osmose
    group: osmose

- name: checkout bzr repository for josm translation
  command: bzr checkout --lightweight lp:~openstreetmap/josm/josm_trans
  args:
    creates: /data/project/osmose/backend/po/josm/josm_trans
    chdir: /data/project/osmose/backend/po/josm/
  become: yes
  become_user: osmose
