<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>api.openstreetmap.fr</title>
  <style>
    html {
      background-color: rgb(232, 232, 232);
    }

    body {
      font-family: sans-serif;
      max-width: 800px;
      margin: auto;
      background-color: white;
      padding: 2rem;
    }

    h1,
    h2 {
      font-weight: 400;
    }
  </style>
</head>

<body>
  <h1>Bienvenue sur api.openstreetmap.fr</h1>
  <section>
    <h2>api.openstreetmap.fr/overpass</h2>
    <p>Overpass-api version {{ overpass_version }}</p>
  </section>
</body>

</html>
