[Unit]
Description=proxmox-autosnap weekly

[Service]
Type=oneshot
WorkingDirectory=/home/proxmox-backup/proxmox-autosnap
ExecStart=/home/proxmox-backup/proxmox-autosnap/proxmox-autosnap.py -v all {% if proxmox_backup_exclude is defined%}--exclude {{ proxmox_backup_exclude }} {% endif %}--sudo --label weekly --snap --date-iso-format
{% if proxmox_backup_target is defined %}
ExecStart=/home/proxmox-backup/proxmox-autosnap/proxmox-autosnap.py -v all {% if proxmox_backup_exclude is defined %}--exclude {{ proxmox_backup_exclude }} {% endif %}--sudo --zfs-send-to {{ proxmox_backup_target }}
{% endif %}
ExecStart=/home/proxmox-backup/proxmox-autosnap/proxmox-autosnap.py -v all {% if proxmox_backup_exclude is defined%}--exclude {{ proxmox_backup_exclude }} {% endif %}--sudo --label weekly --clean --keep 3
User=proxmox-backup
