- name: Check if user exists
  action: shell /usr/bin/getent passwd {{ user }}
  register: common_user_exist
  ignore_errors: True
  changed_when: "common_user_exist.rc != 0"
  tags: ssh-tunnel

- name: init user ${user}
  user:
    name: "{{ user }}"
    home: "/data/project/{{ user }}/"
    shell: "/bin/false"
    generate_ssh_key: yes
  when: common_user_exist.changed
  tags: ssh-tunnel

- name: init group ${user}
  group:
    name: "{{ user }}"
  tags: ssh-tunnel

- name: copy default config files
  copy:
    force: no
    src: "shared/files/default{{ item }}"
    dest: "/data/project/{{ user }}/{{ item }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: 0644
  tags: ssh-tunnel
  with_items:
    - .gitconfig
    - .vimrc

- fetch:
    src: "/data/project/{{ user }}/.ssh/id_rsa.pub"
    dest: "public_keys/ansible/{{ user }}-{{ ansible_hostname }}"
    flat: yes
  tags: ssh-tunnel

- name: init ssh key to user ${user}
  ansible.posix.authorized_key:
    user: "{{ user }}"
    key: "{{ item }}"
    key_options: 'no-pty,no-X11-forwarding,permitopen="localhost:*"'
  tags: ssh-tunnel
  when: ansible_hostname == 'osm7'
  with_fileglob:
    - "{{ lookup('env', 'PWD') }}/public_keys/ansible/{{ user }}-osm3"
    - "{{ lookup('env', 'PWD') }}/public_keys/ansible/{{ user }}-osm101"
