- include: ../../../shared/project-account.yml user=letsencrypt

- name: checkout acme-tiny repo
  git: repo=https://github.com/diafygi/acme-tiny.git
       dest=/data/project/letsencrypt/acme-tiny
       version=daba51d37efd7c1f205f9da383b9b09968e30d29  # on 2016-10-17
  become: yes
  become_user: letsencrypt

- name: init paths
  file: path={{ item }} state=directory owner=root group=root force=no mode="0640"
  with_items:
    - /etc/ssl/letsencrypt

- name: init paths
  file: path={{ item }} state=directory owner=letsencrypt group=letsencrypt force=no follow=yes
  with_items:
    - /data/project/letsencrypt/challenges

- name: check if /data/project/letsencrypt/keys already exists
  command: /usr/bin/test -e /data/project/letsencrypt/keys
  ignore_errors: True
  register: keys_created
  changed_when: "keys_created.rc != 0"

- name: init paths
  file: path={{ item }} state=directory owner=letsencrypt group=letsencrypt force=no mode="0700" follow=yes
  with_items:
    - /data/project/letsencrypt/keys
  when: keys_created.changed

- name: generate dhparams
  become: yes
  become_user: letsencrypt
  shell:
    creates="/data/project/letsencrypt/keys/dhparams.pem" chdir="/data/project/letsencrypt/keys"
    openssl dhparam -out dhparams.pem 2048

- name: generate account key
  become: yes
  become_user: letsencrypt
  shell:
    creates="/data/project/letsencrypt/keys/account.key" chdir="/data/project/letsencrypt/keys"
    openssl genrsa 4096 > account.key

- name: generate domain key
  become: yes
  become_user: letsencrypt
  shell:
    creates="/data/project/letsencrypt/keys/domain.key" chdir="/data/project/letsencrypt/keys"
    openssl genrsa 4096 > domain.key

- name: set letsencrypt_hosts
  set_fact:
    letsencrypt_hosts: "{{ proxy | json_query('[*].websites') | join(' ') }}"
  when: letsencrypt_hosts is not defined and proxy is defined

- name: dump list of hosts
  become: yes
  become_user: letsencrypt
  template: src="letsencrypt-hosts-list" dest="/data/project/letsencrypt/keys/hosts-list" owner=letsencrypt group=letsencrypt
  register: hosts_list

- name: generate domain csr
  become: yes
  become_user: letsencrypt
  shell:
    chdir="/data/project/letsencrypt/keys"
    executable="/bin/bash"
    openssl req -new -sha256 -key domain.key -subj "/" -reqexts SAN -config <(cat /etc/ssl/openssl.cnf <(printf "[SAN]\nsubjectAltName=$(cat hosts-list)")) > domain.csr
  when: hosts_list.changed

- name: check if using apache
  command: /usr/bin/test -e /etc/apache2/
  ignore_errors: True
  register: using_apache
  changed_when: "using_apache.rc == 0"

- name: check if using nginx
  command: /usr/bin/test -e /etc/nginx/
  ignore_errors: True
  register: using_nginx
  changed_when: "using_nginx.rc == 0"

- name: copy apache config
  copy: src=apache-challenge.site dest="/etc/apache2/sites-available/letsencrypt-challenge.conf"
  register: copy_apache_challenge
  when: using_apache.changed

- name: enable apache site
  file: src="/etc/apache2/sites-available/letsencrypt-challenge.conf" dest="/etc/apache2/sites-enabled/001-letsencrypt-challenge.conf" state=link
  when: using_apache.changed

- name: add apache mods
  file: src="/etc/apache2/mods-available/{{ item }}" dest="/etc/apache2/mods-enabled/{{ item }}" state=link
  register: add_apache_mods
  with_items:
    - rewrite.load
  when: using_apache.changed

- name: reload apache
  service: name=apache2 state=reloaded
  when: using_apache.changed and copy_apache_challenge.changed and not add_apache_mods.changed

- name: restart apache
  service: name=apache2 state=restarted
  when: using_apache.changed and add_apache_mods.changed

- name: copy nginx challenge config
  copy: src=nginx-letsencrypt-challenge.conf dest="/etc/nginx/global.d/letsencrypt-challenge.conf"
  register: copy_nginx_challenge
  when: using_nginx.changed

- name: reload nginx
  service: name=nginx state=reloaded
  when: using_nginx.changed and copy_nginx_challenge.changed


- name: copy launch-acme-tiny.sh config
  become: yes
  become_user: letsencrypt
  copy: src=launch-acme-tiny.sh dest="/data/project/letsencrypt/keys/launch-acme-tiny.sh"
    owner=letsencrypt group=letsencrypt mode="0700"

- name: launch acme-tiny
  become: yes
  become_user: letsencrypt
  command:
    chdir="/data/project/letsencrypt/keys"
    ./launch-acme-tiny.sh

- name: download intermediate certificate
  become: yes
  become_user: letsencrypt
  notify: reload apache
  get_url: >
    url="https://letsencrypt.org/certs/lets-encrypt-x3-cross-signed.pem"
    dest="/data/project/letsencrypt/keys/intermediate.pem"
    sha256sum="e446c5e9dbef9d09ac9f7027c034602492437a05ff6c40011d7235fca639c79a"

- name: fix permission for intermediate certificate
  become: yes
  become_user: letsencrypt
  file: path="/data/project/letsencrypt/keys/intermediate.pem" owner=letsencrypt

- name: generate chained.pem
  become: yes
  become_user: letsencrypt
  shell: chdir="/data/project/letsencrypt/keys"
    cat signed.crt intermediate.pem > chained.pem

- name: link generated keys
  file: src="/data/project/letsencrypt/keys/{{ item }}" dest="/etc/ssl/letsencrypt/{{ item }}" state=link
  with_items:
    - intermediate.pem
    - signed.crt
    - domain.key
    - chained.pem


- name: check name of default-ssl
  command: /usr/bin/test -e /etc/apache2/sites-available/default-ssl.conf
  ignore_errors: True
  register: apache_default_ssl_conf
  when: using_apache.changed

- name: set apache_default_ssl to default-ssl.conf
  set_fact: apache_default_ssl=default-ssl.conf
  when: using_apache.changed and apache_default_ssl_conf.rc == 0 and (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')

- name: set apache_default_ssl to default-ssl
  set_fact: apache_default_ssl=default-ssl
  when: using_apache.changed and apache_default_ssl_conf.rc != 0 and (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')

- name: configure https keys
  lineinfile: dest="/etc/apache2/sites-available/{{ apache_default_ssl }}" regexp="{{ item.regexp }}" line="{{ item.line }}" insertbefore="{{ item.before }}"
  notify: reload apache
  with_items:
    - {regexp: "^[ 	]*SSLCertificateFile.*",
       before: "^[ 	]*SSLCertificateFile",
       line:   "	SSLCertificateFile	/etc/ssl/letsencrypt/signed.crt"}
    - {regexp: "^[ 	]*SSLCertificateKeyFile.*",
       before: "^[ 	]*SSLCertificateFile",
       line:   "	SSLCertificateKeyFile	/etc/ssl/letsencrypt/domain.key"}
    - {regexp: "^[ 	]*SSLCertificateChainFile.*",
       before: "^[ 	]*SSLCertificateFile",
       line:   "	SSLCertificateChainFile	/etc/ssl/letsencrypt/intermediate.pem"}
  when: using_apache.changed and (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')

- name: enable apache ssl site
  file: src="/etc/apache2/sites-available/{{ apache_default_ssl }}" dest="/etc/apache2/sites-enabled/{{ apache_default_ssl }}" state=link
  notify: reload apache
  when: using_apache.changed and (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')

- name: add apache ssl module
  apache2_module:
    state: present
    name: ssl
  notify: restart apache
  when: using_apache.changed and (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')

- name: copy nginx ssl config
  copy: src=nginx-letsencrypt-ssl.conf dest="/etc/nginx/global.d/letsencrypt-ssl.conf"
  notify: reload nginx
  when: using_nginx.changed

- name: configure sudoers to reload apache/nginx
  copy: src=sudoers dest=/etc/sudoers.d/ansible-letsencrypt mode=0440 owner=root group=root validate='visudo -cf %s'

- name: configure crontab
  cron: name="letsencrypt" hour="{{ 4 | random }}" minute="{{ 59 | random }}" day="*" weekday="{{ 6 | random }}" month="*" job="(cd keys && ./launch-acme-tiny.sh)"
  become: yes
  become_user: letsencrypt
