name: CI

on: [fork, pull_request, push]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          cache: 'pip'

      - name: Install Python dependencies
        run: pip install -U -r requirements.txt

      - name: Run ansible-lint
        run: ansible-lint

      - name: Run Pylama
        run: pylama
